<div class="modal fade" id="Top_cities_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-2" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Top villes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%=column_chart @cities, {colors:["#aad", "#dd0", "#aad", "#fb2"], download: {background: "#F9FBFD"} }%>
            </div>
            <div class="col-4">
              <h3 class ='text-primary'>Description</h3>
              <br>
              <p class ='text-primary'>Top 5 des villes ou régions pour lesquelles le volume de dépenses est le plus élevé.</p>
              <br>
              <br>
              <br>
              <div class="d-flex justify-content-center">
                <div class="mr-4">
                  <%= link_to addfavorite_path(params: { graph: 'top-cities' }) do %>
                    <% if current_user.favorites.include?('top-cities') %>
                      <div class="btn btn-secondary">
                        <i class="fas fa-heart text-primary"></i>
                      </div>
                    <% else %>
                      <div class="btn btn-secondary">
                        <i class="far fa-heart text-primary"></i>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div  class="btn btn-secondary">
                  <p class="text-primary mb-0" data-toggle="modal" data-target="#Graph1_mail" style="font-size: 17.3px"><b>@</b></p>
                </div>
              </div>
           </div>
        </div>
       </div>
      </div>
    </div>
  </div>
<!--MailerModal -->
  <div class="modal fade" id="Graph5_mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoi Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6><b>Top 5 villes : </b></h6>
          <p>Top 5 des villes ou régions pour lesquelles le volume de dépenses est le plus élevé.</p>
            <%=column_chart @cities, {colors:["#aad", "#dd0", "#aad", "#fb2"], download: {background: "#F9FBFD"} }%>
          <%= simple_form_for :mail, url: sendmail_path(params: {graph: 'graph5', titre: 'Top 5 villes', description: 'Top 5 des villes ou régions pour lesquelles le volume de dépenses est le plus élevé.'}), method: :post do |f| %>
            <%= f.input :email, label: 'Adresse mail du destinataire:' %>
            <%= f.input :body, as: :text, label: 'Votre commentaire ici:' %>
            <%= f.submit "Envoi", class: "btn btn-primary justify-content-space-betwenn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
