<div class="modal fade" id="Travel_destination_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: unset; width: 75%; height: 500px;">
    <div class="modal-content p-2" style="width: 100% !important; height: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Destinations des déplacements</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <%= geo_chart @company.transactions.group(:countries).count, download: true %>
          </div>
          <div class="col-4">
            <h3 class ='text-primary'>Description</h3>
            <br>
            <p class ='text-primary'>Destinations pour lesquelles le volume de dépenses est le plus élevé.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="d-flex justify-content-center">
              <div class="mr-4">
                <%= link_to addfavorite_path(params: { graph: 'travel-destination' }) do %>
                  <% if current_user.favorites.include?('travel-destination') %>
                    <div class="btn btn-secondary">
                      <i class="fas fa-heart text-primary"></i>
                    </div>
                  <% else %>
                    <div class="btn btn-secondary">
                      <i class="far fa-heart text-primary"></i>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div  class="btn btn-secondary" data-dismiss="modal">
                <p class="text-primary mb-0" data-toggle="modal" data-target="#Graph4_mail" style="font-size: 17.3px"><b>@</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MailerModal -->
  <div class="modal fade graph-mail-modal" id="Graph4_mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoi Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6><b>Destinations des déplacements : </b></h6>
          <p>Destinations pour lesquelles le total des dépenses est le plus élevé</p>
            <%= geo_chart @company.transactions.group(:countries).count, download: true %>
            <br>
            <br>
            <br>
            <br>

          <%= simple_form_for :mail, url: sendmail_path(params: {graph: 'graph4', titre: 'Destinations des déplacements', description: 'Destinations pour lesquelles le total des dépenses est le plus élevé.'}), method: :post do |f| %>
            <%= f.input :email, label: 'Adresse mail du destinataire:' %>
            <%= f.input :body, as: :text, label: 'Votre commentaire ici:' %>
            <div data-dismiss="modal">
              <%= f.submit "Envoi", class: "btn btn-primary justify-content-space-betwenn graph-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
