<div class="modal fade" id="Top_travellers_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-2" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Top Voyageurs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%= bar_chart @company.top_5_travellers, {colors:["#dd0", "#dd0", "#aad", "#fb2"], download: true }%>
            </div>
            <div class="col-4">
              <h3 class="text-primary">Description</h3>
              <br>
              <p class ='text-primary'>Cumul du nombre de prestations achetées par voyageur.</p>
              <br>
              <br>
              <br>
                <div class="d-flex justify-content-center">
                  <div class="mr-4">
                    <%= link_to addfavorite_path(params: { graph: 'top-travellers' }) do %>
                        <% if current_user.favorites.include?('top-travellers') %>
                          <div class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-heart text-primary"></i>
                          </div>
                        <% else %>
                          <div class="btn btn-secondary" data-dismiss="modal">
                            <i class="far fa-heart text-primary"></i>
                          </div>
                        <% end %>
                    <% end %>
                  </div>
                  <div  class="btn btn-secondary" data-dismiss="modal">
                    <p class="text-primary mb-0" data-toggle="modal" data-target="#Graph1_mail" style="font-size: 17.3px"><b>@</b></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--MailerModal -->
  <div class="modal fade graph-mail-modal" id="Graph1_mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoi Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6><b> Top Voyageur : </b></h6>
          <p>Cumul du nombre de prestations achetées par voyageur.</p>
          <%= bar_chart @company.top_5_travellers, {colors:["#dd0", "#dd0", "#aad", "#fb2"], download: true }%>
          <%= simple_form_for :mail, url: sendmail_path(params: {graph: 'graph1', titre: 'Top Voyageur', description: 'Cumul du nombre de prestations achetées par voyageur'} ), method: :post do |f| %>
            <%= f.input :email, label: 'Adresse mail du destinataire:' %>
            <%= f.input :commentaire, as: :text, label: 'Votre commentaire ici:' %>
            <div data-dismiss="modal">
              <%= f.submit "Envoi", class: "btn btn-primary justify-content-space-betwenn graph-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
