<div class="modal fade" id="Nb_reservation_per_day_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-2" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre de réservations par jour</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%= column_chart @transactions_count_week, {colors:["#9be"], download: true} %>
            </div>
            <div class="col-4">
              <h3 class ='text-primary'>Description</h3>
              <br>
              <p class ='text-primary'>Total des réservations faites en fonction des jours de la semaine.</p>
              <br>
              <br>
              <br>
              <div class="d-flex justify-content-center">
                <div class="mr-4">
                  <%= link_to addfavorite_path(params: { graph: 'nb-reservation-per-day' }) do %>
                    <% if current_user.favorites.include?('nb-reservation-per-day') %>
                      <div class="btn btn-secondary">
                        <i class="fas fa-heart text-primary"></i>
                      </div>
                    <% else %>
                      <div class="btn btn-secondary">
                        <i class="far fa-heart text-primary"></i>
                      </div>
                    <% end %>
                <% end %>
             </div>
            <div  class="btn btn-secondary" data-dismiss="modal">
              <p class="text-primary mb-0" data-toggle="modal" data-target="#Graph2_mail" style="font-size: 17.3px"><b>@</b></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MailerModal -->
  <div class="modal fade graph-mail-modal" id="Graph2_mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoi Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6><b>Nombre de réservations par jour : </b></h6>
          <p>Total des réservations faites en fonction des jours de la semaine.</p>
            <%= column_chart @transactions_count_week, {colors:["#9be"], download: true} %>
          <%= simple_form_for :mail, url: sendmail_path(params: {graph: 'graph2', titre: 'Nombre de réservations par jour', description: 'Total des réservations faites en fonction des jours de la semaine.'} ), method: :post do |f| %>
            <%= f.input :email, label: 'Adresse mail du destinataire:' %>
            <%= f.input :body, as: :text, label: 'Votre commentaire ici:' %>
            <div data-dismiss="modal">
              <%= f.submit "Envoi", class: "btn btn-primary justify-content-space-betwenn graph-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
