  <% if @company.transactions.count != 0 %>

    <div class="row mb-4">

      <div class="col-xs-12 col-sm-4 chart-col">
        <div class="card-chart" data-toggle="modal" data-target="#Top_travellers_card">
          <div class="d-flex justify-content-between align-items-center">
            <h6>Top 5 voyageurs</h6>
          </div>
          <%= bar_chart @company.top_5_travellers, {colors:["#dd0", "#dd0", "#aad", "#fb2"], download: true } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 not-favorite chart-col">
        <div class="card-chart" data-toggle="modal" data-target="#Nb_reservation_per_day_card">
          <h6>Nombre de réservation par jour</h6>
          <%= column_chart @transactions_count_week, download: true %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 not-favorite chart-col">
        <div class="card-chart" data-toggle="modal" data-target="#Type_spendings_card">
          <h6>Catégorie de dépense</h6>
          <%= pie_chart @types, { download: true, donut: true} %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-8 not-favorite chart-col">
        <div class="card-chart" data-toggle="modal" data-target="#Travel_destination_card">
          <h6>Destination des voyages</h6>
          <%= geo_chart @company.transactions.group(:countries).count, download: true %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 d-flex align-items-end not-favorite chart-col">
        <div class="card-chart" data-toggle="modal" data-target="#Top_cities_card">
          <h6>Top villes</h6>
          <%=column_chart @cities, download: true %>
        </div>
      </div>

    </div>

  <% else %>
    <h3 class="text-center mt-5 p-5">Telechargez votre fichier de dépenses de voyages</h3>
  <% end %>

  <!-- MODAL SYSTEM -->
  <div class="modal fade" id="Top_travellers_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="far fa-heart"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Nb_reservation_per_day_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="far fa-heart"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Type_spendings_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="far fa-heart"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Travel_destination_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="far fa-heart"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Top_cities_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <i class="far fa-heart"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
