  <% if @company.transactions.count != 0 %>
    <div class="row mb-4">

    <% if current_user.favorites.include?('top-travellers') || params[:action] == 'dashboard' %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-chart" data-toggle="modal" data-target="#Top_travellers_card">
          <div class="d-flex justify-content-between align-items-center">
            <h6>Top 5 voyageurs</h6>
          </div>
          <%= bar_chart @company.top_5_travellers, {colors:["#dd0", "#dd0", "#aad", "#fb2"], download: true } %>
        </div>
      </div>
    <% end %>

    <% if current_user.favorites.include?('nb-reservation-per-day') || params[:action] == 'dashboard' %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-chart" data-toggle="modal" data-target="#Nb_reservation_per_day_card">
          <h6>Nombre de réservation par jour</h6>
          <%= column_chart @transactions_count_week, {colors:["#9be"], download: true} %>
        </div>
      </div>
    <% end %>

    <% if current_user.favorites.include?('type-spendings') || params[:action] == 'dashboard' %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-chart" data-toggle="modal" data-target="#Type_spendings_card">
          <h6>Catégorie de dépense</h6>
          <%= pie_chart @types, { download: true, donut: true} %>
        </div>
      </div>
    <% end %>

    </div>

    <div class="row">
      <% if current_user.favorites.include?('travel-destination') || params[:action] == 'dashboard' %>
        <div class="col-xs-12 col-sm-8">
          <div class="card-chart" data-toggle="modal" data-target="#Travel_destination_card">
            <h6>Destination des voyages</h6>
            <%= geo_chart @company.transactions.group(:countries).count, download: true %>
          </div>
        </div>
      <% end %>

      <% if current_user.favorites.include?('top-cities') || params[:action] == 'dashboard' %>
        <div class="col-xs-12 col-sm-4 d-flex align-items-end">
          <div class="card-chart" data-toggle="modal" data-target="#Top_cities_card">
            <h6>Top villes</h6>
            <%=column_chart @cities, download: true %>
          </div>
        </div>
      <% end %>

    </div>

  <% else %>
    <h3 class="text-center mt-5 p-5">Telechargez votre fichier de dépenses de voyages</h3>
  <% end %>

  <!-- MODAL SYSTEM -->
  <div class="modal fade" id="Top_travellers_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Top Voyageurs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%= bar_chart @company.top_5_travellers, {colors:["#dd0", "#dd0", "#aad", "#fb2"], download: true }%>
            </div>
            <div class="col-4">
              <h3>Description</h3>
              <br>
              <p > Cumul du nombre de prestations achetées par voyageur</p>
              <div class="icons-right">
                <div>
                  <%= link_to addfavorite_path(params: { graph: 'top-travellers' }) do %>
                      <% if current_user.favorites.include?('top-travellers') %>
                        <i class="fas fa-heart"></i>
                      <% else %>
                        <i class="far fa-heart"></i>
                      <% end %>
                  <% end %>
                </div>
                <div>
                  <i class="fas fa-at"> </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Nb_reservation_per_day_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre de réservation par jour</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%= column_chart @transactions_count_week, download: true %>
            </div>
            <div class="col-4">
              <h3>Description</h3>
              <br>
              <p > Réservation de categorie par jour </p>
              <div class="icons-right">
                <div>
                  <%= link_to addfavorite_path(params: { graph: 'nb-reservation-per-day' }) do %>
                    <% if current_user.favorites.include?('nb-reservation-per-day') %>
                      <i class="fas fa-heart"></i>
                    <% else %>
                      <i class="far fa-heart"></i>
                    <% end %>
                <% end %>
             </div>
             <div>
              <i class="fas fa-at"> </i>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <div class="modal fade" id="Type_spendings_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Catégorie de dépense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%= pie_chart @types, { download: true, donut: true} %>
            </div>
            <div class="col-4">
              <h3>Description</h3>
              <br>
              <p > Répartition des dépenses globales par typologie de prestations (en valeur ou en %) </p>
              <div class="icons-right">
                <div>
                  <%= link_to addfavorite_path(params: { graph: 'type-spendings' }) do %>
                  <% if current_user.favorites.include?('type-spendings') %>
                      <i class="fas fa-heart"></i>
                  <% else %>
                      <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div>
              <i class="fas fa-at"> </i>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Travel_destination_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: unset; width: 75%; height: 500px;">
    <div class="modal-content" style="width: 100% !important; height: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Destination de voyages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <%= geo_chart @company.transactions.group(:countries).count, download: true %>
          </div>
          <div class="col-4">
            <h3>Description</h3>
            <br>
            <p > Top 5/10/15/20 des routes pour lesquelles le volume de dépenses est le plus élevé </p>
            <div class="icons-right">
              <div>
                <%= link_to addfavorite_path(params: { graph: 'travel-destination' }) do %>
                  <% if current_user.favorites.include?('travel-destination') %>
                    <i class="fas fa-heart"></i>
                  <% else %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div>
                <i class="fas fa-at"> </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="Top_cities_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Top villes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <%=column_chart @cities, download: true %>
            </div>
            <div class="col-4">
              <h3>Description</h3>
              <br>
              <p >Top 5/10/15/20 des villes ou régions pour lesquelles le volume de dépenses est le plus élevé.  </p>
              <div class="icons-right">
                <div>
                    <%= link_to addfavorite_path(params: { graph: 'top-cities' }) do %>
                      <% if current_user.favorites.include?('top-cities') %>
                         <i class="fas fa-heart"></i>
                      <% else %>
                         <i class="far fa-heart"></i>
                      <% end %>
                      <% end %>
                </div>
                <div>
                  <i class="fas fa-at"> </i>
                </div>
              </div>
           </div>
        </div>
       </div>
      </div>
    </div>
  </div>
