<% if current_user %>
  <% if params[:action] != 'landing'  %>
  <div class="page-wrapper d-flex chiller-theme ">
  <nav id="sidebar" class="sidebar-wrapper toggled d-flex flex-column">
    <div class="sidebar-content flex-grow-1">
      <div class="sidebar-brand">

        <!-- <a href="#">Heineken</a> -->
        <div id="close-sidebar">
          <i class="fas fa-chevron-left"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "img-responsive img-rounded" %>
          <% else %>
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg">
          <% end %>
        </div>
        <div class="user-info">
          <span class="user-name">
            <%= current_user.first_name %>
            <strong><%= current_user.last_name %></strong>
          </span>
          <span class="user-role">Administrateur</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Applications</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="/favorites">
              <i class="far fa-heart"></i>
              <span>KPIs Favoris</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a href="/">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dép. Globales</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
           <a href="/wellbeing">
            <i class="fas fa-hands"></i>
            <span>Bien-être</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a href="/behaviour">
            <i class="far fa-check-circle"></i>
            <span>Comportement</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a href="/budget">
            <i class="fa fa-chart-line"></i>
            <span>Budget</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a href="/rse">
            <i class="fa fa-globe"></i>
            <span>RSE</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="sidebar-menu">
      <ul>

        <li class="header-menu">
          <span>Extras</span>
        </li>
        <li>
          <a href="/reports/new">
            <i class="fa fa-folder"></i>
            <span>Ajouter un fichier</span>
          </a>
        </li>
        <li>
          <a href="/profil">
            <i class="fas fa-user"></i>
            <span>Profil</span>
          </a>
          <!-- </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li> -->

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
       <a class="notification" href="" data-toggle="modal" data-target="#Enhancements_card">

        <i class="fa fa-bell"></i>
      </a>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-power-off"></i>
      <% end %>
    </div>
  </nav>

  <!-- MODAL SYSTEM -->
  <div class="modal fade" id="Enhancements_card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog sidebar-modal" role="document">

    <div class="modal-content modal-notification">

<div class="text-center">
      <div class="modal-header d-block position-relative">

        <h5 class="modal-title text-center" id="exampleModalLabel">Alertes</h5>
        <button type="button" class="close position-absolute" style="top: 10px; right:10px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      <div class="modal-body">

        <%= image_tag("warning.png", :alt => "#", :class => "warning") %>


         <%# if (controller.controller_name == 'pages' &&
                   controller.action_name == 'budget') %>
          <div class='alert-test'><%= budget_alert(current_user.company&.total, current_user.company&.budget)%></div> <div class='link_alert'><%= link_to 'Budget', budget_path %></div>
         <%# end %>
</div>
         <!-- <p>Ce mois vous avez depensé {de plus que le mois dernier</p>
         Vous avez diminué vos depenses sur le moyen de transport....Bravo! </p> -->
      </div>
    </div>
  </div>
</div>
  <% end %>
<% end %>
