<main class="page-content p-5">
  <div class="d-flex justify-content-between align-items-center" style="width: 100%">
      <h5>Chargement d'un nouveau fichier</h5>
      <%= image_tag("Logo-TNE-RVB-small.png", :alt => "#", :class => "logo") %>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-8">
  <div class="row around-xs">
    <div class="col-xs-2 card-chart mr-12 pl-20" style="width: 57%;">
      <div class="box text-primary">
        <%= form_tag('/import',method: :post, multipart: true) do %>
        <%= file_field_tag :file %>
      </div>
    </div>
     </div>
    <br>
     <div class="row around-xs">
    <div class="col-xs-2 card-chart mr-4">
      <div class="box text-primary">
        <p><b>Sélectionnez un format</b></p>
        <%#= select_tag 'format', options_for_select([['Sélectionnez un format', 1], ['CSV', 2], ['PDF', 3], ['Excel', 4], ['Power Point', 5]])%>

        <%= radio_button_tag :format, 'CSV' %>
        <label for="format_CSV">CSV</label>
        <br>
        <%= radio_button_tag :format, 'PDF' %>
        <label for="format_PDF">PDF</label>
        <br>
        <%= radio_button_tag :format, 'Excel' %>
        <%= label :format, 'Excel' %>
        <br>
        <%= radio_button_tag :format, 'Power Point' %>
        <%= label :format, 'Power Point' %>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-2 card-chart ml-4">
      <div class="box text-primary">
        <p><b>Sélectionnez une source</b></p>
        <%= radio_button_tag :source, 'Comptabilité' %>
        <%= label :source, 'Comptabilité' %>
        <br>
        <%= radio_button_tag :source, 'Agence de voyages' %>
        <%= label :source, 'Agence de voyages' %>
        <br>
        <%= radio_button_tag :source, 'Notes de frais' %>
        <%= label :source, 'Notes de frais' %>
        <br>
        <%= radio_button_tag :source, 'Moyen de paiement' %>
        <%= label :source, 'Moyen de paiement' %>

      </div>
    </div>
  </div>
  </div>
  <br>
    <div class="row col-xs-2">
      <div style="box-shadow: 4px 4px 10px rgba(0,0,0,.1)">
        <%= submit_tag( "Importer" , class: "btn-primary p-2", style:"box-shadow: 4px 4px 10px rgba(0,0,0,.1); border-radius: 5px") %>
        <% end %>
      </div>
    </div>
  </div>
<div class="col-4">

    <%= image_tag("undraw_visual_data_b1wx.png", :class =>" new_report_image rounded float-right float-bottom") %>
</div>
</div>
</main>
