<main class="page-content flex-grow-1 p-5 d-block">
  <div class="d-flex justify-content-between align-items-center">
      <h5>Chargement d'un nouveau fichier</h5>
      <%= image_tag("Logo-TNE-RVB-small.png", :alt => "#", :class => "logo") %>
  </div>
  <hr>
    <div class="card-chart">
      <div class="mb-4">
        <%= form_tag('/import',method: :post, multipart: true) do %>
        <%= file_field_tag :file %>
      </div>
      <div class="mb-4">
        <%= label_tag 'format' %>
        <%= select_tag 'format', options_for_select([['Sélectionnez un format', 1], ['CSV', 2], ['PDF', 3], ['Excel', 4], ['Power Point', 5]])%>
      </div>
      <div class="mb-4">
        <%= label_tag 'source' %>
        <%= select_tag 'source', options_for_select([['Sélectionnez une source', 1], ['Comptabilité', 2], ['Agence de voyages', 3], ['ERP', 4], ['Notes de frais', 5], ['Moyen de paiement', 6]])%>
      </div>
      <div class="mb-4">
        <%= submit_tag( "Importer" , class: "btn-primary" ) %>
        <% end %>
      </div>
      <div>
      </div>
    </div>
    <br>
    <%= image_tag("undraw_visual_data_b1wx.png", :class =>" new_report_image rounded float-right") %>
</main>
